<main>
  <header class="posts_header">
    <% if user_signed_in? %>
      <div>
        <span id="greeting">Hi there,</span>
        <br>
        <span id="current_user_name"><%= current_user.name %></span>
      </div>
      <a href="<%= new_post_path %>">
        <div class="button">
          + New Post
        </div>
      </a>
    <% else %>
      <h2> <%= link_to 'Sign Up', new_user_registration_path, class: 'link' %> to create posts like these <br>
        and view their owners.</h2>
    <% end %>
  </header>
  <div class="post-list">
    <% @posts.sort_by {|p| p.created_at}.reverse.each do |post| %>
      <section>
        <div class="left-bar"></div>
        <div>
          <p><%= post.text %></p> 
          <span class="metadata">Created at: <%= post.created_at.localtime.to_fs :long %></span>
          <br>
          <span class="metadata">By: <%= user_signed_in? ? post.user.name : 'Anonymous User' %> </span>
        </div>
      </section>
    <% end %>
  </div>
</main>
