<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class='layout'>
      <div></div>
      <h1><%= link_to "Members Only", root_path %></h1>
      <div id="right_container">
        <% if user_signed_in? %>
          <span>Logged as <%= link_to current_user.name, edit_registration_path(current_user), class: 'link' %></span>
        <% else %>
          <a href="<%= new_user_session_path %>">
            <div class="button">
              Sign In
            </div>
          </a>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
